@font-face {
    font-family: SegoeWP;
    src: url("image/ofont.ru_Segoe WP.ttf"); 
   }
html {
    font-size: 14px;
}
body {
    width: 100%;
    margin: 0 auto;
}
main {
    overflow: hidden;
}

header {
    height: 10rem;
    width: 100%;
    background: url("image/header.png");
    background-size: cover;
}
header h1 {
    margin-top: -58px;
    padding-left: 243px;
    font-size: 43.6px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    
}
.logo-container, .nav-container {
    margin-left: 40px;
}
.logo-container{
    position: relative;
    padding-top: 36px;
    padding-left: 113px;
}
.logo2 {
    top: 34px;
    left: 110px;
    position: absolute;
}
.nav-container {
    position: relative;
    width: 453px;
    height: 41px;
    padding-left: 721px;
    margin-top: -25px;
}
.nav2 {
    top: -4px;
    left: 717px;
    opacity: 0.5;
    position: absolute;  
}
.nav3 {
    top: -8px;
    left: 711px;
    opacity: 0.5;
    position: absolute;  
}

.topnav {
    top: 0;
    left: 720px;
    position: absolute; 
    width: 456px;
    height: 44px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.topnav a{
    text-decoration: none;
    font-family: "SegoeWP";
    font-size: 15.5px;
    font-weight: bold;
    color: rgb(185,148,3);
    text-align: center;
    padding: 13px 41px;
}
.about {
    top: 12px;
    left: 733px;
    position: absolute;
}
.services{
    top: 12px;
    left: 890px;
    position: absolute;
}
.contact{
    top: 12px;
    left: 1034px;
    position: absolute;
}
.middle-border {
    border-left: 1px solid rgb(185,148,3);
    border-right: 1px solid rgb(185,148,3);
}
.topnav a:hover{
    background-color: rgb(77, 74, 66);
    color: rgb(185,148,3);
}
.video-container {
    height: 33rem;
    background: url("image/mainfirst.png");
    width: 100%;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 15px #000;

}
.video-element {
    position: relative;
}
video{
    margin-top: 44px;
    margin-left: 156px;
}

.menu {
    height: 16.3rem;
    background: url("./image/Layer\ 7@1X.png");
}

.second {
    height: 38.4rem;
    background: url("./image/Layer\ 10\ copy\ 3.png");
    box-shadow: 0px 0px 15px #000;
}

.conclusion {
    height: 37.7rem;
    background: url("./image/Layer\ 32.png");
}
.down {
    box-shadow: 0px 0px 15px #000;
    height: 5rem;
    background: url("image/Layer\ 31@1X.png");
    
}

.video-container video[poster]{
    object-fit: none;
    object-position: -130px 0px;
}
.play-ellipse {
     opacity: 0.9;
     position: absolute;
     top: 181px;
     left: 417px;
} 
.play-triangle{
    position: absolute;
    top: 197px;
    left: 445px;
}
.record-opacity{
    position: absolute;
    top: 344px;
    left: 242px;
    width: 430px;
}
.record-contrast{
    position: absolute;
    top: 331px;
    left: 239px;
    width: 436px;
}
.play-small-back{
    position: absolute;
    top: 336px;
    left: 191px;
}
.play-small-button{
    width: 10px;
    height: 18px;
    position: absolute;
    top: 341px;
    left: 200px;
    opacity: 0.5;
}
.volume{
    position: absolute;
    top: 343px;
    left: 707px;
}
.video-container h1 {
    font-size: 64px;
    letter-spacing: 2px;
    color: #FFF;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;
    word-spacing: 5px;
    line-height: 1.25;
    margin-top: -325px;
    margin-left: 607px;
}
.video-container h1 span {
    color:#f5c506;
}
.switch-back1{
    position: absolute;
    top: 182px;
    left: 1px;
}
.switch-back2 {
    position: absolute;
    top: 182px;
    left: 1348px;
}
.switch-pointer1{
    position: absolute;
    top: 202px;
    left: 9px;

}
.switch-pointer2 {
    position: absolute;
    top: 199px;
    left: 1359px;
}
.menu ul {
    display:flex;
    justify-content: space-around;
    position: relative;
}
.menu ul li {
    font-size: 29px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: center;
}
.design {
    position: absolute;
    border-left: 1px solid gray;
    border-right: 1px solid gray; 
    left: 146px;
    top: 2px;
    padding: 157px 75px 39px 93px;
}
.customise {
    position: absolute;
    left: 508px;
    top: -1px;
    padding: 161px 101px 38px 119px;
}
.free {
    position: absolute;
    left: 869px;
    top: 0px;
    padding: 161px 137px 22px 120px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.design-img {
    margin-left: 270px;
    margin-bottom: 0;
}

.customise-img {
    margin-left: 270px;
    margin-bottom: -2px;
}
.free-img {
    margin-left: 246px;
    margin-top: 60px;
}
.lorem-block {
    position: relative;
}
.second p.lorem {
    font-size: 40px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    margin-left: 148px;
    padding-top: 39px;
}

.orange-block {
    background-color: rgb(236,158,3);
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #ffffff;
    margin-left: 146px;
    margin-top: 36px;
    padding: 18px 39px 29px 31px;
    font-family: "SegoeWP";
    position: relative;
    float: left;
}

.cross {
    position: absolute;
    left: 336px;
    top: 222px;
}

.video-lorem {
    margin-left: 0;
    margin-top: 36px;
}
.video-lorem[poster]{
    object-fit: cover;
    object-position: -35px 0px;
}
.play-ellipse2 {
    opacity: 0.9;
    position: absolute;
    top: 134px;
    left: 647px;
} 
.play-triangle2 {
   position: absolute;
   top: 151px;
   left: 674px;
}

.twitter-block {
    background-color: rgb(236,158,3);
    margin-left: 881px;
    margin-top: -248px;
    margin-right: 150px;
    padding: 64px 0 20px 85px;
    position: relative;
}
.cross2 {
    position: absolute;
    left: 326px;
    top: 221px;
}
.twitter-block span {
    position: absolute;
    font-family: "SegoeWP";
    font-size: 25px;
    letter-spacing: 0px;
    color: #ffffff;
    top: 16px;
    left: 302px;
}
.day-april p {
    width: 105px;
    height: 55px;
    background-color: rgb(221,177,1);
    margin-left: 146px;
    text-align: center;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 27px;
    color: #b26529;
    font-family: "Segoe UI";
    padding: 18px 10px;
}
.day-april p span {
    font-size: 55px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-weight: bold;
}

.slider-container {
    width: 69%;
    height: 20px;
    margin-top: 45px;
    margin-left: 225px;
    
}
.slider {
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
    border-radius: 5px;
    background-color: rgb(249,226,131);
    opacity: 0.9;
    outline: none;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 205px;
    height: 15px;
    background-color: rgb(236,158,3);
    border-radius: 5px;
}
@media screen and (max-width: 1300px) {
    .twitter-block,
    .video-container h1 {
        display: none;
    }
}
@media screen and (max-width: 620px) {
    .video-element {
        margin-left: -160px;
        z-index: 2;
    }
}
/* @media screen and (max-width: 580px) {
    header {
        background: url("image/Shape\ 8\ copy\ 3.svg");
    }
} */

